Lambda Function:

A lambda function is a small anonymous function.
A lambda Function can take any number of arguemnts, but can only have one expression.

1. Example :
     lambda a,b : a+b
2. Syntax :
     lambda parameter : expression

In [1]:
# x -> x^2
a=lambda x:x**2
print(a(2))

4

In [2]:
# x,y -> x+y
a = lambda x,y : x*y
print(a(2,3))

6

Diff between lambda vs Normal Function :

 1. No name
 2. lambda has no return value(infact,return a function)
 3. lambda is written in 1 line
 4. not reusable
1. Then why use lambda functions.
2. They are used in  HOF (higher order functions)

In [3]:
# check if a string has 'a'

a = lambda s : 'a' in s
a('ayush')

True

In [5]:
# odd or even :
a = lambda x:'even' if x%2 == 0 else 'odd'
print(a(6))

even

Higher order Function :

In [7]:
# example :

def sq(x):
    return x**2
def cube(x):
    return x**3
def transform(f,l):
    output = []
    for i in l:
        output.append(f(i))

    print(output)

l = [1,2,3,4,5]
transform(lambda  x:x**3,l) # so the ans of X = 1 : X = l = 1 ** 3 ( 1 * 1 * 1 )

[1, 8, 27, 64, 125]

Map :

In [8]:
# square the items of a list
list(map(lambda x : x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [10]:
# odd / even labelling a list items
list(map(lambda x : 'even' if x % 2 == 0 else 'odd',[1,2,3,4,5]))

['odd', 'even', 'odd', 'even', 'odd']

In [23]:
# fetch names from a list of dict :

users = [
    {
        'name':'ayush',
        'age':22,
        'gender':'male'
    },
    {
        'name':'ladki',
        'age':30,
        'gender':'female'
    },
    {
        'name':'lucky',
        'age':78,
        'gender':'trans'
    }
]

result = list(map(lambda user : user['name'],users))
print(result)

['ayush', 'ladki', 'lucky']

Filter :

In [24]:
# numbers greater than 5
l = [3,4,2,7,8,9]

list(filter(lambda x : x > 5, l))

[7, 8, 9]

In [25]:
# fetch fruits starts with ' a '

fruits = ['apple', 'guava','mango','cherry']

list(filter(lambda x : x.startswith('a'), fruits))

['apple']

Reduce :

In [26]:
# sum of all items :
import functools

functools.reduce(lambda x,y : x+y,[1,2,3,4,5])

15

In [31]:
# find min :
functools.reduce(lambda x,y : x if x < y else y,[12,45,67,16,99,46] )

12

In [32]:
# find max :
functools.reduce(lambda x,y : x if x > y else y,[12,45,67,16,99,46] )

99